body {
  display: flex;
  flex-direction: column; /* 가로 → 세로 정렬 */
  align-items: center;
  justify-content: left;
  background-color: #f5f5f5;
  font-family: sans-serif;
}

:root {
  --key-center-color: #77aa77; /* 중앙 키 색상과 동일하게 설정 */
}

.layer {           /* 레이어(NUM,SYM,EN,KR) 숨김/표시 */
  display: none;
}
.layer.active {    /* 활성 레이어 */
  display: block;
}

#layer-switcher {
  width: 320px; /* 전체 컨테이너 너비 지정 */
  display: flex;
  flex-direction: column; /* 자식 요소(줄)들을 세로로 정렬 */
  align-items: center; /* 가운데 정렬 */
  gap: 5px; /* 줄 사이의 간격 */
  margin-bottom: 5px;
}

.button-row {
  width: 100%; /* 부모 요소의 전체 너비를 차지 */
  display: flex;
  justify-content: space-between; /* 버튼들을 좌우로 균등하게 배분 */
}

#layer-switcher button {
  background: #e0e0e0;
  border: 1px solid #aaa;
  padding: 1px 1px;
  /* margin 값은 균등 배분을 위해 제거하거나 0으로 설정 */
  margin: 2px; 
  cursor: pointer;
}

#layer-switcher button.active {
  background-color: var(--key-center-color);   /* 녹색 (#77aa77) */
  border-color: var(--key-center-color);
  color: #fff;
}

#display-container {     
  width: 300px;
  height: 150px;
}

#display {         /* 글자 표시창 */
  width: 95%;
  height: 100%;
  font-size: 18px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow-y: auto;
  caret-color: transparent;
}

#keyboard-container {
  display: block;
  margin-bottom: 20px;
  transform-origin: bottom left;
  transition: transform 0.1s ease-in-out;
}

#keyboard-container.right-handed {
  margin-left: auto;
  margin-right: 0px;
  transform-origin: bottom right;
}

#keyboard-container.left-handed {
  margin-right: auto;
  margin-left: 0px;
}

svg {
  width: 100%;
  height: 100%;
}

/* 입력용 키보드 */
svg#keyboard {
    width: 300px;
    height: 300px;
    border-radius: 2px;
}

/* 숫자,기호,영어,한글... 좌,우,Clear 버튼 */
button {
  width: 50px;
  height: 30px;
  cursor: pointer;
  font-size: 1rem;
}

.octagon-center {
	fill: #6cbf72; 
	stroke: #144455; 
	stroke-width: 0.5;
}

.octagon-small1, .octagon-small2, .octagon-small3, .octagon-small4, 
.octagon-small5, .octagon-small6, .octagon-small7, .octagon-small8 {
  fill: #84cc86; 
  stroke: #144455; 
  stroke-width: 0.5;
}

.octagon-big1, .octagon-big2, .octagon-big3, .octagon-big4, 
.octagon-big5, .octagon-big6, .octagon-big7, .octagon-big8 {
  fill: #a3dfaa;  
  stroke: #144455;  
  stroke-width: 0.5;
}